@font-face {
  font-family: 'iconfont';  /* project id 764238 */
  src: url('//at.alicdn.com/t/font_764238_japb8qvkyzm.eot');
  src: url('//at.alicdn.com/t/font_764238_japb8qvkyzm.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_764238_japb8qvkyzm.woff') format('woff'),
  url('//at.alicdn.com/t/font_764238_japb8qvkyzm.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_764238_japb8qvkyzm.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontfenxiang2:before { content: "\e628"; }

.icon-ziyuanbaosongshenqingshujuxiugai:before { content: "\e654"; }

.icon-buoumaotubiao47:before { content: "\e62a"; }

.icon-right:before { content: "\e632"; }

.icon-fanhui:before { content: "\e8a4"; }

.icon-biaoqian:before { content: "\e645"; }

.icon-biaoqian1:before { content: "\e678"; }

